:root {
  font-size: 125%;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}

/* --Global-- */

h1 {
  padding-top: 16px;
  padding-bottom: 32px;
  font-size: 1.6rem;
}

h2 {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 1.2rem;
}

p {
  padding-top: 16px;
  padding-bottom: 16px;
}

p:last-child {
  padding-bottom: 0;
}

strong {
  color: hsl(160, 100%, 30%);
}

/* --Utilities-- */

.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

/* --Header-- */

.intro-chunk {
  max-width: 415px;
  padding: 64px 24px;
}

/* main */

main {
  border-top: 8px solid hsl(0, 0%, 60%);
  background-color: hsl(0, 0%, 40%);
  padding-top: 64px;
  padding-bottom: 64px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-bottom: 8px solid hsl(0, 0%, 60%);
  padding: 8px 24px 24px 24px;
}

.indented-heading {
  display: inline-block;
  background-color: hsl(45, 100%, 50%);
  border-bottom: 8px solid hsl(45, 100%, 40%);
  margin-left: -40px;
  padding-left: 32px;
  padding-right: 32px;
}